@charset "utf-8";
/* CSS Document */

/*HOME*/
.span { font-size: 14px; font-family:Helvetica; }
input { -moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */ }
div {font-family:Helvetica; color:#444; }
body {margin: 0 0 0 0; background-color:#4faced; font-size:14px;}
input {font-family:Helvetica; color:#444; font-size:14px; padding:4px; border:solid 1px #ccc;}






.logo { color: #ffffff;  font-size:24px; font-weight:bold; float: left; width: 20%;}
.barra { height: 40px; background-color:#66ccff; float: left; width: 80%;
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */
}
#buscador { float:left; padding:5px; }



#blk {background: url(../img/left.png) ; width:10px;height:300px; float:left}
#blk2 {background: url(../img/right.png) ; width:10px;height:300px; float:right}
.double {width:410px; display:block; border:solid 0px #444}
.descripcion {font-size:12px; color: #666;}
.lugar {font-weight:bold; }
.precio {color: #666; padding-bottom:4px;}
.pesos {color: #696;}


.resultados { width: 820px; }

/* END HOME */
.formulario{ border:solid 2px #0066CC;	padding-top:10px; padding-left:10px; }
.menu{ float:left; padding-top:4px; padding-bottom:4px; position:relative; width:800px; }
.menu-nombre{ text-align:right;	float:left; margin-right:14px; font-size:14px; font-weight:bold; padding-top:4px;
	width:150px; }
 .menu-campo2{ width:160px; float:right; padding-left:0px; }
 
/* INICIAR SESSION */

.ancho-login { width: 700px; }
.login-pie { background-color: white; padding: 4px;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */
}
.center-div-login { background-color: white; padding: 10px;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */}
.campo-login{ float: left;	padding:2px; padding-bottom:4px; position:relative; width:400px; }
.campo-nombre-login{ float: left; margin-right:14px; padding:1px; width: 75px; text-align: right; }
.campo-input-login{ float: left; padding-left:0px; }
.titulo-login{font-family:Helvetica; color:#444; font-size:20px; text-align: left; padding-bottom:5px;}
.boton { cursor:pointer; background:#fec; }
.top-login { padding-top:20px; }
.menuUP_login { font-weight:normal; background:#66ccff; color: #ffffff; font-size:12px; }
.logo_login {color: #ffffff; background:transparent; font-size:28px; font-family:Helvetica;
            font-weight:bold; text-align: center; }

/* END INICIAR SESSION*/

/* REGISTRARSE */


.center-div-registro{ background-color: white; padding: 10px;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */
}
.ancho-registrarse { width: 810px; margin-left: 10px; }
.logo_registrarse{color: #ffffff; background:transparent; font-size:28px; font-family:Helvetica;
            font-weight:bold; margin-left: 30px; }
#error-nombre{ /*color: red;*/ }


/* END REGISTRARSE */

/* PUBLICAR */


.center-div-publicar{ background-color: white; padding: 10px;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */
}
.ancho-publicar { width: 950px; margin-left: 10px; margin-right: 10px; }
.logo_publicar{color: #ffffff; background:transparent; font-size:28px; font-family:Helvetica;
            font-weight:bold; margin-left: 30px; }
#error-nombre{ /*color: red;*/ }

/* PASO 2 */
.tipo_publicacion { float:left; padding: 18px; background-color: #F8FAF5; font-size: 15px;
                    width: 90%; margin-top: 2px;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */
}

/* END PASO 2 */


/* END PUBLICAR */

#center_div { background-color: white; width: 100%;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */ }

/* MI CUENTA INDEX */

.ancho-micuenta-index {  width: 900px; }

.center-div-micuenta-index { 
/*-moz-border-radius:3px; /* Firefox */
/*-webkit-border-radius:3px; /* Safari */
/*-ms-border-radius: 0.3em; /* Internet Explorer 8 */
/*border-radius: 0.3em; /* Cuando sea estandar */
}
#panel-micuenta-index { float:left; padding-top:15px; width:100%;  background-color: white;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */
}

.menu-micuenta { float:left; width: 100%; background-color: #66ccff; padding: 4px;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */
}
.item-menu-micuenta { float:left; padding: 5px; cursor:pointer;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */
}


.actualizar_datos { padding-top:25px; }

/* END MI CUENTA INDEX MENU */

.menuUP { background-color:#66ccff; color: #ffffff; font-size:14px; float: right;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */
}

.menuItem { float:left; padding:5px; cursor:pointer; color: #fff; }

.pie { background-color:#66ccff; width: 100%; 
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari */
-ms-border-radius: 0.3em; /* Internet Explorer 8 */
border-radius: 0.3em; /* Cuando sea estandar */
}

.texto-pie { padding: 10px; text-align: center; color: white; }
